#message {
  resize: none;
  width: 550px;
  height: 55px;
}
input#name {
  min-width: 150px;
}
.messageText {
  text-align: left;
  display: inline-block;
  text-transform: none;
  margin-top: 3px;
  padding: 5px;
  border: 1px solid #d6e9c6;
  border-radius: 10px;
  color: #3c763d;
  background-color: #dff0d8;
  max-width: 550px;
  word-wrap: break-word;
  font-size: 14pt;
}
.messageText.changing {
  background-color: rgba(51, 204, 51, 0.7);
  font-size: 18pt;
}
.collection-item:hover .messageText {
  background-color: rgba(51, 204, 51, 0.7);
  border-color: rgb(153, 144, 144);
}
span:read-write {
  color: black;
}
.bold {
  font-weight: bold;
}
.btn {
  border-radius: 5px;
  background-color: #c5ddbc;
  font-size: 18px;
  color: rgb(49, 45, 45);
  font-weight: bold;
}
.buttonDelete,
.buttonEdit {
  margin-left: 10px;
  font-size: 14pt;
  border-radius: 15px;
  border: 1px solid #000000;
}
.buttonEdit[value="Save"] {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #89c403),
    color-stop(1, #77a809)
  );
  background: -moz-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -o-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -ms-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
  background-color: #89c403;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 8px;
  text-decoration: none;
}
.buttonEdit[value="Edit"] {
  -moz-box-shadow: inset 0px 0px 0px 0px #308dff;
  -webkit-box-shadow: inset 0px 0px 0px 0px #308dff;
  box-shadow: inset 0px 0px 0px 0px #308dff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #57a8ff),
    color-stop(1, #1e62d0)
  );
  background: -moz-linear-gradient(top, #57a8ff 5%, #1e62d0 100%);
  background: -webkit-linear-gradient(top, #57a8ff 5%, #1e62d0 100%);
  background: -o-linear-gradient(top, #57a8ff 5%, #1e62d0 100%);
  background: -ms-linear-gradient(top, #57a8ff 5%, #1e62d0 100%);
  background: linear-gradient(to bottom, #57a8ff 5%, #1e62d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57a8ff', endColorstr='#1e62d0',GradientType=0);
  background-color: #57a8ff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #7f93b0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 8px;
  text-decoration: none;
}
.buttonDelete {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #fc8d83),
    color-stop(1, #e4685d)
  );
  background: -moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: -webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: -o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: -ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
  background-color: #fc8d83;
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px;
  border-radius: 42px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 8px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.buttons {
  display: none;
}
.collection-item:hover .buttons {
  display: inline;
}
.enter {
  font-size: 16px;
  padding: 10px;
  display: inline-block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.name {
  width: 150px;
}

#messagesArea li {
  margin-left: 0px;
  list-style-type: none;
}

#messagesArea {
  padding-left: 0;
}

.text {
  display: inline-block;
}
.container {
  width: 700px;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  position: absolute;
}
#messagesBlock {
  height: 80%;
  overflow-y: scroll;
  text-align: left;
  padding-left: 5px;
  border-radius: 15px;
  margin-bottom: 5px;
}
img#arrowbot {
  position: relative;
  left: 183px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c5ddbc;
}
